<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block head_title %}Employee Manager WebApp{% endblock head_title %}</title>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--===============================================================================================-->   
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/solid.css' %}">
    <!--===============================================================================================-->          
        <link rel="stylesheet" type="text/css" href="{% static 'DataTables/Bootstrap-4-4.1.1/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.10.20/css/dataTables.bootstrap.min.css' %}" />
    <!--===============================================================================================-->   
	</head>

    <body>
        {% block main_body %}
        {% endblock main_body %}
    </body>

    <!--===============================================================================================-->	
	<script src="{% static 'DataTables/jQuery-3.3.1/jquery-3.3.1.min.js' %}" ></script>            
    <script src="{% static 'js/all.js' %}"></script>
    <script src="{% static 'DataTables/Bootstrap-4-4.1.1/js/bootstrap.min.js' %}" ></script>    
    <script src="{% static 'DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>    
    <script src="{% static 'DataTables/DataTables-1.10.20/js/dataTables.bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
    
</html>
